# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
GROQ_API_KEY=your-groq-api-key-here
GROQ_MODEL=llama-3.1-8b-instant
YOUTUBE_API_KEY=your-youtube-api-key-here
HF_TOKEN=your_hf_token_here

# Vector DB (for demo, local Chroma)
VECTOR_DB_URL=local

# Frontend
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000